[Unit]
Description=BleemSync Service
After=weston.service

[Service]
Type=oneshot
ExecStart=/usr/bin/usbhost_service start
ExecStop=/usr/bin/usbhost_service stop
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
