[Unit]
Description=Telnet Server
After=bleemsync.service
Before=sonyapp.service

[Service]
ExecStart=-/usr/bin/busybox-bs telnetd -i
StandardInput=socket